<ion-view view-title="Información">
  <ion-content class="padding" style="text-align : justify">
    <h2>Teknol</h2>
    <p>
      Somos una empresa especializada en el desarrollo de software y soluciones tecnológicas e innovadoras para pequeñas, medianas y grandes empresas en cualquier sector.
    </p>
    <p>
      Ofrecemos las mejores soluciones tecnológicas a nuestros clientes, mediante propuestas innovadoras y de calidad que les permita optimizar sus procesos,
    </p>
    <p>
      reducir costos y sobre todo aumentar su competitividad. Contamos con una amplia línea de productos y servicios. Nos especializamos en la tecnología touch y nos caracterizamos por diseñar,
    </p>
    <p>
      desarrollar y producir ideas que involucren la innovación y la tecnología.
    </p>
  </ion-content>
</ion-view>
